body {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Mulish', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.hrMain {
    height: 3px;
    width: 14%;
    background-color: red;
    margin: -21px auto 44px;
}

.hr {
    height: 3px;
    width: 32%;
    background-color: red;
}

.mainText {
    font-size: 40px;
}

.img {
    text-align: center;
    width: 100%;
    font-size: 43px;
}

.main {
    width: 30%;
    padding: 37px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    box-sizing: border-box;
    color: #000;
    text-align: center;
}

.text {
    font-weight: 1500;
    text-align: center;
    font-weight: 900;
    font-size: 44px;
}

.pText {
    font-size: 25px;
    text-align: center;
    font-family: mulish;
    font-weight: 900;
}

.pText2 {
    font-size: 17px;
    font-family: mulish;
    line-height: 1.8em;
}

.allMain {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.text {
    align-items: center;
}